<section class="py-4">
   <h3 class="py-1 text-blue-400 m-2 inline-block ">pouplar products</h3>

    
      <input  type="text" [(ngModel)]="searchitem" placeholder="search...." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-1/2 mx-auto p-2.5 my-4" />

       
        <div class="parent grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
@for (prod of myprodut| serc : searchitem ; track prod._id ) {
    <div class="card-border h-full flex flex-col justify-between border border-green-400/50 rounded-md overflow-hidden shadow p-1">
<div [routerLink]="['/details',prod._id]" >
    <div class="card-img">
    <img [src]="prod.imageCover" class="w-full h-[250px] object-fit-cover" alt="" />
  </div>
  <div class="card-body px-2 py-4">
    <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
    <h3 class="font-medium">{{prod.title}}</h3>
    <div class="flex justify-between items-center">
      <span>{{prod.price}}</span>
      <div class="flex items-center">
        <i class="fas fa-star text-yellow-300"></i>
        <span class="text-gray-500">{{prod.ratingsAverage}}</span>

      </div>
    </div>
  </div>
</div>
  <button (click)="addproducttocart(prod._id)" class="py-2 px-4 text-white rounded-lg w-[90%] block mx-auto bg-green-700 cursor-pointer">
  Add to cart
</button>
</div>

}
        </div>
</section>
