 <section class="w-1/2 bg-gray-200 shadow-lg rounded-lg mx-auto p-4 m-4">
  <h1 class="text-center text-green-600 text-3xl font-bold">Register Now :</h1>
  <form [formGroup]="registerform" (ngSubmit)="FormSubmit()">
    <div class="mb-6">
      <label for="uname" class="block mb-2 text-lg font-light text-green-600">Name :</label>
      <input formControlName="name" type="text" id="uname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />
@if (registerform.get("name")?.errors && registerform.get("name")?.touched) {
  
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
      @if (registerform.get("name")?.getError('required')) {
          <li>name is required</li>
      }
      @if (registerform.get("name")?.getError('minlength')) {
        <li>name must greater than 3 ch</li>
      }
      @if (registerform.get("name")?.getError('maxlength')) {
        <li>name must lower than 20 ch</li>
      }
       
   
    </ul>
  </div>
</div>
}
    </div>
    
    <div class="mb-6">
      <label for="uemail" class="block mb-2 text-lg font-light text-green-600">Email :</label>
      <input formControlName="email" type="email" id="uemail" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />

      @if (registerform.get("email")?.errors && registerform.get("email")?.touched) {
  
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
      @if (registerform.get("email")?.getError('required')) {
          <li>email is required</li>
      }
      @if (registerform.get("email")?.getError('email')) {
        <li>  invaild email </li>
      }
      
       
   
    </ul>
  </div>
</div>
}
    </div>
    
    <div class="mb-6">
      <label for="uPass" class="block mb-2 text-lg font-light text-green-600">Password :</label>
      <input formControlName="password" type="password" id="uPass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />
  @if (registerform.get("password")?.errors && registerform.get("password")?.touched) {
  
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
      @if (registerform.get("password")?.getError('required')) {
          <li>password is required</li>
      }
      @if (registerform.get("password")?.getError('pattern')) {
        <li> password must be more than 6 num and must captile frist ch</li>
      }
    
       
   
    </ul>
  </div>
</div>
}
 
    </div>
    
     <div class="mb-6">
      <label for="uRePass" class="block mb-2 text-lg font-light text-green-600">rePassword :</label>
      <input formControlName="rePassword"  type="password" id="uRePass" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />


       @if (registerform.getError('mismatch') && registerform.get('rePassword')?.touched) {
  
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
      @if (registerform.get("rePassword")?.getError('required')) {
          <li>password is required</li>
           <li> password must be more than 6 num and must captile frist ch</li>
      }
     
    
       
   
    </ul>
  </div>
</div>
}
    </div>
    
    <div class="mb-6">
      <label for="uPhone" class="block mb-2 text-lg font-light text-green-600">Phone :</label>
      <input formControlName="phone" type="tel" id="uPhone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />



          @if (registerform.get("phone")?.errors && registerform.get("phone")?.touched) {
  
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100" role="alert">
  <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <span class="font-medium">Ensure that these requirements are met:</span>
      <ul class="mt-1.5 list-disc list-inside">
      @if (registerform.get("phone")?.getError('required')) {
          <li>phone is required</li>
      }
      @if (registerform.get("phone")?.getError('pattern')) {
        <li> egy phones </li>
      }
    
       
   
    </ul>
  </div>
</div>
}

    </div> 

  @if (errormes) {
      <p class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100 text-center">{{errormes}} </p>
  }
  @if (succmes) {
      <p class="flex p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-100 text-center">{{succmes}} </p>
  }
    
    <button type="submit" [disabled]="isloading" class="bg-green-600 text-white py-2 px-4 rounded-lg cursor-pointer hover:bg-green-700 transition">
      Register 
      @if (isloading) {
        <i class="fa-solid fa-spinner fa-spin"></i>
      }
    </button>
  </form>
</section> 

 