<footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="o text-2xl">Get the FreshCart App</h2>
    <p class="text-gray-500 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap py-2">
      <input
        class="w-full rounded-lg border p-1 pl-4 border-gray-300 placeholder:text-gray-400"
        type="text"
        placeholder="Email..."
      />
      <button class="bg-green-700 py-1 px-4 rounded-lg text-white cursor-pointer">
        Share App Link
      </button>
    </div>

    <div class="pay-details md:flex justify-between items-center my-5 py-3 border-t-1 border-b-1 border-gray-300">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment partners</h3>
        <img src="/images/download.webp" width="50px" alt=""/>
        <img src="/images/OIP (1).webp" width="50px" alt=""/>
        <img src="/images/download (1).webp" width="50px" alt=""/>
        <img src="/images/OIP.jpg" width="50px" alt=""/>
      </div>
 

    <div class="flex items-center gap-2">
      <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
      <img src="/images/OIP (1).jpg" width="50px" alt=""/>
      <img src="/images/OIP (2).jpg" width="50px" alt=""/>
    </div>
  </div>
     </div>
</footer>
