
<section class="py-2">

<div class="parent  grid md:grid-cols-[60%_minmax(0,1fr)]">
<div>
<owl-carousel-o [options]="marktOptions">
    <ng-template carouselSlide>  <img class="w-full h-[300px] object-fit-md-cover " src="/images/OIP (3).jpg" alt=""></ng-template>  
    <ng-template carouselSlide>  <img class="w-full h-[300px]" src="/images/OIP (5).webp" alt=""></ng-template>  
    <ng-template carouselSlide><img class="w-full h-[300px]" src="images/fresh-fruits-market_932514-17118.avif" alt=""></ng-template>  
  </owl-carousel-o>

 </div>

  <div>
    <img class="w-full h-[150px]" src="/images/OIP (3).jpg" alt="">
    <img class="w-full h-[150px]" src="/images/OIP (5).webp" alt="">
  </div>




</div>






</section>
















<section>
<h3 class="bg-black text-blue-400 inline-block p-2 my-2 text-center">pouplar category</h3>
<div>
  <owl-carousel-o [options]="customOptions">

    @for (cat of mycatg; track cat._id) {
      <ng-template carouselSlide >
      
<img class="w-full h-[250px] object-fit-contain" [src]="cat.image" alt="">
<h3 class="bg-black text-white inline-block p-2 my-2">{{cat.name}}</h3>

      </ng-template>
    }

  </owl-carousel-o>
</div>



</section>




<section class="py-4">
   <h3 class="py-1 text-blue-400 m-2 inline-block ">pouplar products</h3>

    
      <input  type="text" [(ngModel)]="searchitem" placeholder="search...." class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-1/2 mx-auto p-2.5 my-4" />

       
        <div class="parent grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
@for (prod of myprodut.slice(5,20) | serc : searchitem ; track prod._id ) {
    <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative p-1 card h-full flex flex-col justify-between border border-green-400/50 rounded-md overflow-hidden shadow p-1">
<div [routerLink]="['/details',prod._id]" >
    <div class="card-img">
    <img [src]="prod.imageCover" class="w-full h-[250px] object-fit-cover" alt="" />
  </div>
  <div class="card-body px-2 py-4">
    <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
    <h3 class="font-medium">{{prod.title}}</h3>
    <div class="flex justify-between items-center">
      <span>{{prod.price}}</span>
      <div class="flex items-center">
        <i class="fas fa-star text-yellow-300"></i>
        <span class="text-gray-500">{{prod.ratingsAverage}}</span>

      </div>
    </div>
  </div>
</div>
  <button (click)="addproducttocart(prod._id)" class="py-2 px-4 text-white rounded-lg w-[90%] block mx-auto bg-green-700 cursor-pointer">
  Add to cart
</button>
</div>

}
        </div>
</section>

 