 <section class="w-[75%] mx-auto">
  @if (cartdeatiles.totalCartPrice) {
     <h1 class="text-center text-green-600 text-4xl">Shop Cart...</h1>
   <button (click)="clearcart()" class="text-xs bg-red-900 text-white-rounded px-6 block ms-auto.py-1 cursor-pointer">
  clear Cart
   </button>
   <h3 class="text-green-600 my-1">
   total Cart Price : {{cartdeatiles.totalCartPrice}}
  </h3>


@for (prod of cartdeatiles.products; track prod.product._id) {
    
    <div class="grid md:grid-cols-[10%_minmax(0,1fr)] gap-4 border-b">
   
   <div>
   <img [src]="prod.product.imageCover" class="w-full h-[100px] object-contain" allt="prod.pro">

    </div>
  
   <div class="flex justify-between items-center">
    <div>
    <h3>Title:{{prod.product.title}}</h3>
    <h4 class="■text-green-500">
   price: {{prod.price}}
   </h4>
   <button class="cursor-pointer" (click)="removeitem(prod.product._id)">
    <i class="fas fa-trash-can text-green-600"></i>Remove
    </button>
   </div>
    <div class="flex items-center gap-3">
    <button (click)="updautcart(prod.count +1,prod.product._id)" class="text-3xl text-green-600 cursor-pointer">
    <i class="fa-regular fa-square-plus"></i>
   </button>
   <span> count: {{prod.count}} </span>
    <button (click)="updautcart(prod.count -1,prod.product._id)" class="text-3xl text-green-600 cursor-pointer">
   <i class="fa-regular fa-square-minus"></i>
   </button>
    </div>
    </div>
    </div>
}

    <button [routerLink]="['/checkout' ,cartdeatiles._id] "class="py-2 px-4 my-3 text-white rounded-lg block me-auto bg-green-700 cursor-pointer">Payment</button>
  }
@else {
    <!-- <h1 class="m-auto text-center bg-red-700 py-3 w-[50%] ">cart is empty.....</h1> -->
     <div class="min-h-screen flex items-center justify-center bg-gray-100 px-4">
  <div class="bg-white p-8 rounded-xl shadow-lg text-center max-w-md w-full">
    
    <!-- SVG Cart Icon -->
    <div class="flex justify-center mb-6">
      <svg class="w-20 h-20 text-blue-600 animate-pulse" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.5l1.5 13.5a2.25 2.25 0 002.25 2.25h9.75a2.25 2.25 0 002.25-2.25L21.75 6H6.375M6.75 21a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
      </svg>
    </div>

    <!-- Text -->
    <h2 class="text-2xl font-bold text-gray-800 mb-2">Your Cart is Empty</h2>
    <p class="text-gray-500 mb-6">Looks like you haven’t added anything yet. Start shopping now and fill it up! 🛍️</p>

    <!-- Button -->
    <a href="/" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg transition duration-300">
      Shop Now
    </a>
  </div>
</div>
}
  
    </section>
