 <section class="w-1/2 bg-gray-200 shadow-lg rounded-lg mx-auto p-4 m-4">
  <h1 class="text-center text-green-600 text-3xl font-bold">pay Now :</h1>
  <form [formGroup]="checkoutform"  (ngSubmit)="subimtform()">
  
    
    <div class="mb-6">
      <label for="udetails" class="block mb-2 text-lg font-light text-green-600">details :</label>
      <input placeholder="details..." formControlName="details" type="text" id="udetails" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />

    
    </div>
    <div class="mb-6">
      <label for="uphone" class="block mb-2 text-lg font-light text-green-600">phone :</label>
      <input placeholder="enter your phone..." formControlName="phone" type="tel" id="uphone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />

    
    </div>
    <div class="mb-6">
      <label for="ucity" class="block mb-2 text-lg font-light text-green-600">city :</label>
      <input placeholder="city..." formControlName="city" type="text" id="ucity" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" />

    
    </div>
    
   
    
    

 
    
    <div class="flex items-center">
      <button   type="submit" class="m-auto flex items-center justify-center  bg-green-600 text-white py-2 px-4 rounded-lg cursor-pointer hover:bg-green-700 transition">
      submit 
     

     
    </button>
 
    </div>
  </form>
</section> 
